.header__wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  gap: 50px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__item {
  color: #fff;
}

.header__div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__title {
  color: #fff;
}
